<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'dialog'" [mode]="'side'" [opened]="false"
    style="background-color: #053259;">
    <mat-toolbar class="d-flex justify-content-end text-white">
      <div class="mouse-click" (click)="drawer.toggle()">
         <mat-icon style="font-size: 32px;" class="mouse-click">chevron_left</mat-icon>
      </div>
    </mat-toolbar>
    <mat-divider style="background-color: white ;"></mat-divider>
    <mat-nav-list>
      <a class="text-white" mat-list-item>
        <div class=" d-flex justify-content-between w-100">
          <span>Home</span>
          <fa-icon [icon]="faDashboard"></fa-icon>
        </div>
      </a>
      <a [routerLink]="['/estoque']" class="text-white" mat-list-item>
        <div class=" d-flex justify-content-between w-100">
          <span>Estoque</span>
          <fa-icon [icon]="faBoxArchive"></fa-icon>
        </div>
      </a>
      <a class="text-white" mat-list-item>
        <div class=" d-flex justify-content-between w-100">
          <span>Vendas</span>
          <fa-icon [icon]="faChartLine"></fa-icon>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #0b8ad9;color: white;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Doblick</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
        <mat-icon style="font-size: 25px;">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Minha Conta</span>
        </button>
        <mat-divider style="background-color: gray ;"></mat-divider>
        <button mat-menu-item (click)="logout()" >
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="container-fluid">
      <ng-content>
      </ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
